@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "slnt" 0; */
}

.mother-div .flex {
  display: flex;
}

.mother-div {
  margin: auto;
  width: 70%;
}

.mother-div>header {
  justify-content: space-between;
  margin: 45px 0px;
  width: 100%;
  gap: 50px;
  position: relative;
}

.mother-div img[alt="icon-menu"],
.mother-div img[alt="icon-menu-close"] {
  display: none;
}

.menu-background nav li {
  display: none;
}

header nav li a {
  text-decoration: none;
  color: hsl(236, 13%, 42%);
}

header nav li {
  list-style-type: none;
  padding: 0px 5px;
  display: inline-block;
}

header nav li :hover {
  color: hsl(5, 85%, 63%);
  cursor: pointer;
}

main>section>div>img[alt="image-web-3-desktop"] {
  width: 100%;
}

main>section>div img[alt="image-web-3-mobile"] {
  display: none;
}

main .web3-content {
  margin: 15px 0px;
}

main .web3-content>h1 {
  font-size: 2.5rem;
  width: 40%;
}

.web3-content.flex {
  flex: 2;
}

.web3-content>article {
  flex: 1;
  font-size: 0.8rem;
}

main .web3-content article {
  padding: 0px 25px;
  margin-left: 25px;
}

main .web3-content article p {
  line-height: 23px;
  color: hsl(236, 13%, 42%);
}

main .web3-content article button {
  color: hsl(36, 100%, 99%);
  background-color: hsl(5, 85%, 63%);
  border: none;
  margin: 35px 0px;
  width: 150px;
  padding: 10px;
}

main .web3-content article button:hover {
  background-color: hsl(240, 100%, 5%);
  color: hsl(36, 100%, 99%);
  cursor: pointer;
}

main .aside-div {
  background-color: black;
  color: white;
  width: 100%;
  margin: 0px 0px 50px 25px;
  padding: 20px;
}

.hr {
  margin: 15px 0px;
  padding-bottom: 15px;
  border-bottom: 1px solid hsl(236, 13%, 42%);
}

main .aside-div h1 {
  color: hsl(35, 77%, 62%);
  margin-bottom: 15px;
  font-size: 2rem;
}

main .aside-div h3 {
  margin: 15px 0px;
  font-weight: bold;
}

main .aside-div h3:hover {
  color: hsl(35, 77%, 62%);
  cursor: pointer;
}

main .aside-div p {
  color: hsl(236, 13%, 42%);
}

main .last-section div {
  margin-bottom: 25px;
}

section.flex.last-section {
  justify-content: space-between;
}

main .last-section div img {
  width: 85px;
}

main .last-section div article {
  margin-left: 15px;
}

main .last-section div h1 {
  font-size: 2rem;
  margin: 5px 0px;
  color: hsl(233, 8%, 79%);
}

main .last-section div p {
  margin: 5px 0px;
}

main .last-section div p:hover {
  color: hsl(5, 85%, 63%);
  cursor: pointer;
}

main .last-section div p:nth-child(3) {
  color: hsl(233, 8%, 79%);
}

main .last-section div main .last-section .growth-img {
  margin-right: 15px;
}


/* Mobile css starts here */
@media screen and (max-width: 650px) {

  .mother-div .flex {
    display: block;
  }

  .mother-div {
    width: 88%;
  }

  .mother-div img[alt="icon-menu"] {
    display: block;
    position: absolute;
    margin-top: -30px;
  }

  .mother-div img[alt="icon-menu-close"] {
    display: unset;
    margin-top: 10px;
  }

  header nav {
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    width: 70%;
    position: fixed;
    background-color: white;
    display: none;
  }

  header nav ul {
    margin-top: 100px;
  }

  header nav ul>* {
    margin: 20px;
  }

  header nav li {
    display: block;
    padding: 10px;
  }

  .menu-background {
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    display: none;
  }

  header nav li a {
    color: black;
    padding: 15px;
  }

  main .web3-content>h1 {
    width: 50%;
  }

  main .web3-content p {
    width: 100%;
  }

  main>section>div>img[alt="image-web-3-desktop"] {
    display: none;
  }

  main>section>div>img[alt="image-web-3-mobile"] {
    display: block;
    width: 100%;
  }

  header img {
    display: inline-block;
    margin-left: 88%;
  }

  .web3-content>article {
    font-size: 1rem;
  }

  main .web3-content article {
    padding: 0px;
    margin-left: 0px;
  }

  main .aside-div {
    margin: 0px 0px 50px 0px;
    /* width: 65%; */
  }

  main .last-section .flex {
    display: flex;
  }

  main .last-section div article {
    /* width: 30%; */
  }
}